:root {
    --primary: #000000;
    --bg-color: rgb(35, 38, 39);
    --bg-envelope-color: #460d33;
    --envelope-tab: #d658d0;
    --envelope-cover: #d658d0;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --txt-color: #ff00ea;
    --heart-color: rgb(87, 8, 8);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

.container>.envelope-wrapper {
    background: var(--bg-envelope-color);
    box-shadow: 0 0 40px var(--shadow-color);
}

.envelope-wrapper>.envelope {
    position: relative;
    width: 515px;
    height: 375px;
}

.envelope-wrapper>.envelope::before {
    content: "";
    position: absolute;
    top: 0;
    z-index: 2;
    border-top: 270px solid var(--envelope-tab);
    border-right: 260px solid transparent;
    border-left: 260px solid transparent;
    transform-origin: top;
    transition: all 0.5s ease-in-out 0.7s;
}

.envelope-wrapper>.envelope::after {
    content: "";
    position: absolute;
    z-index: 2;
    width: 0px;
    height: 0px;
    border-top: 270px solid transparent;
    border-right: 260px solid var(--envelope-cover);
    border-bottom: 300px solid var(--envelope-cover);
    border-left: 260px solid var(--envelope-cover);
}

.envelope>.letter {
    position: absolute;
    right: 17%;
    bottom: 0;
    width: 60%;
    height: 90%;
    background: var(--primary);
    text-align: center;
    transition: all 1s ease-in-out;
    box-shadow: 0 0 5px var(--shadow-color);
    padding: 20px 10px;
}

.envelope>.letter>.text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: var(--txt-color);
    text-align: left;
    font-size: 8px;
}

.envelope>.letter>.sople {
    position: absolute;
    top: 56%;
    left: 50%;
    width: 75px;
    height: 125px;
}

.heart {
    position: absolute;
    top: 57%;
    left: 50%;
    width: 28px;
    height: 28px;
    background: var(--heart-color);
    z-index: 4;
    transform: translate(-50%, -20%) rotate(45deg);
    transition: transform 0.5s ease-in-out 1s;
    box-shadow: 0 1px 6px var(--shadow-color);
    cursor: pointer;
}

.heart:before,
.heart:after {
    content: "";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: var(--heart-color);
    border-radius: 50%;
}

.heart:before {
    top: -9px;
}

.heart:after {
    right: 9px;
}

.flap>.envelope:before {
    transform: rotateX(180deg);
    z-index: 0;
}

.flap>.envelope>.letter {
    bottom: 185px;
    transform: scale(1.5);
    transition-delay: 1s;
}

.flap>.heart {
    transform: rotate(90deg);
    transition-delay: 0.3s;
}